{% import '@SyliusUi/Macro/flags.html.twig' as flags %}

<h1 class="ui header">
    <i class="circular credit card outline icon"></i>
    <div class="content">
        {{ 'sylius.ui.payment'|trans }}
    </div>
</h1>
